<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Employee sign in
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="login-content">
  <div class="login-wrapper">
    <ion-card class="login-card">
      <ion-card-content>
        <div class="brand">
          <div class="brand-mark">HR</div>
          <div>
            <h1 class="login-title">HR Management System</h1>
            <p class="login-subtitle">
              Sign in to view your information and attendance.
            </p>
          </div>
        </div>

        <form [formGroup]="form" (ngSubmit)="submit()">
          <ion-item class="login-item">
            <ion-label position="stacked">Email</ion-label>
            <ion-input
              type="email"
              formControlName="email"
              autocomplete="email"
            />
          </ion-item>

          <ion-item class="login-item">
            <ion-label position="stacked">Password</ion-label>
            <ion-input
              type="password"
              formControlName="password"
              autocomplete="current-password"
            />
          </ion-item>

          <div class="error" *ngIf="error">
            <ion-text color="danger">
              <p>{{ error }}</p>
            </ion-text>
          </div>

          <ion-button
            expand="block"
            type="submit"
            [disabled]="form.invalid || loading"
            class="login-button"
          >
            <ng-container *ngIf="loading; else loginText">
              <ion-spinner name="crescent" />
            </ng-container>
            <ng-template #loginText>
              Sign in
            </ng-template>
          </ion-button>
        </form>

        <p class="login-hint">
          Contact the administrator if you do not have an account.
        </p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
